/* academy.scss */
.academy {
  position: relative;
  display: block;

  @include font(14px, 400, 26px);
  color: $black;
  text-align: center;

  &__:link,
  &__:visited {
    color: $black;
  }

  &::after {
    position: absolute;
    content: "";
    top: -8px;
    right: 41px;
    width: 50px;
    height: 43px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
  }

  &--indents {
    margin-top: 44px;
    margin-bottom: 23px;
    margin-right: 40px;
  }
}
