/* academy.scss */
.academy {
  &__indents {
    margin-top: 31px;
    margin-bottom: 23px;
  }

  &__link {
    @include font(14px, 400, 26px);
    display: flex;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: $black;
    }
  }

  &__logo {
    display: block;
    fill: $black;

    &:link,
    &:visited {
      fill: $black;
    }

    &:hover,
    &:focus {
      fill: $light-grey-blue;
    }

    &:active {
      fill: rgba(0, 0, 0, 0.3);
    }
  }
}
