.feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin-right: auto;
    margin-bottom: 67px;
    margin-left: auto;
  }
}


.feedback__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    position: absolute;
    top: -19px;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $light;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  &--traveller {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      order: 2;
      padding-left: 58px;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 1;
      order: 2;

      padding-left: 80px;
    }
  }

  &--contact {
    margin-bottom: 47px;

    @media (min-width: $tablet-width) {
      order: 3;
      width: 100%;
      margin-bottom: 53px;
      border-top: 1px solid $very-light-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }

  &--impression {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      order: 1;
      width: 324px;
      margin-bottom: 62px;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        content: "";
        background-color: $very-light-grey;
      }
    }

    @media (min-width: $desktop-width) {
      order: 1;
      width: 480px;
      margin-bottom: 60px;
    }
  }

  &--attractions {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      order: 3;
      width: 100%;
      margin-bottom: 33px;
      border-top: 1px solid $very-light-grey;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  &--emotions {
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      order: 3;
      width: 100%;
      margin-bottom: 57px;
      border-top: 1px solid $very-light-grey;
    }
  }
}


.feedback__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &--contact {
    @media (min-width: $desktop-width) {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      width: 520px;
      padding-left: 65px;
    }

    @media (min-width: $desktop-width) {
      width: 954px;
      padding-right: 5px;
      padding-left: 0;
    }
  }
}


.feedback__field {
  @include font(18px, 700, 26px);
  flex-grow: 1;
  padding: 12px 16px;
  border: 4px solid $grey;
  background-color: $grey;

  &::placeholder {
    opacity: 1;
    color: $black;

    @include font(18px, 700, 26px);
  }

  &:hover,
  &:focus {
    border-color: $very-light-grey;
    background-color: $very-light-grey;
  }

  &:active,
  &:focus {
    border-color: $very-light-grey;
    outline: none;
    background-color: $white;
  }

  &--traveller {
    min-height: 25px;
    margin-left: 17px;
  }

  &--contact {
    min-width: 1px;
    margin-left: 0;

    @media (min-width: $tablet-width) {
      max-width: 590px;
    }

    @media (min-width: $desktop-width) {
      max-width: 258px;
    }
  }

  &--emotions {
    display: block;
    width: 238px;
    max-width: none;
    min-height: 130px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    resize: vertical;

    @media (min-width: $tablet-width) {
      width: 608px;
      padding-top: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 920px;
    }
  }

  &--impression:checked + label::before {
    background: radial-gradient(ellipse at center, $grey-black 0%, $grey-black 90%, $white 100%);
  }

  &--attractions:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 39%;
  }
}


.feedback__list {
  flex-wrap: wrap;

  @include list-reset;

  @media (min-width: $tablet-width) {
    &--attractions {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    &--attractions {
      justify-content: space-between;
    }
  }
}


.feedback__item {
  &:not(:last-child) .feedback__block--impression {
    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      width: 260px;
      margin-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      margin-bottom: 8px;
    }
  }
}

.feedback__block {
  display: flex;

  @include font(14px, 400, 26px);

  &--traveller {
    align-items: center;

    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 21px;
    }
  }

  &--contact {
    margin-left: 21px;

    @media (min-width: $tablet-width) {
      margin-left: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 18px;
      margin-left: 0;
    }
  }

  &--phone {
    margin-top: 7px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 314px;
      margin-top: 0;
      margin-right: 79px;
      margin-bottom: 0;
    }

    &::after {
      width: 58px;
      min-width: 58px;
      height: 58px;
      content: "";
      background-color: $middle-light-grey;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--email {
    margin-top: 9px;

    @media (min-width: $tablet-width) {
      margin-top: 7px;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 1;
      margin-top: 0;
      margin-bottom: 0;
    }

    &::after {
      width: 58px;
      min-width: 58px;
      height: 58px;
      content: "";
      background-color: $middle-light-grey;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--impression {
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 78px;

    @include font(18px, 700, 26px);
    text-transform: none;

    @media (min-width: $tablet-width) {
      padding-top: 21px;
      padding-bottom: 24px;
    }

    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      width: 19px;
      height: 19px;
      padding: 0;
      content: "";
      border: 19px solid $light;
      border-radius: 50%;
      background-color: $light;

      @media (min-width: $desktop-width) {
        left: 4px;
      }
    }

    &:hover::before,
    &:focus::before {
      border: 19px solid $very-light-grey;
      background-color: radial-gradient(ellipse at center, $grey-black 0%, $grey-black 90%, $white 100%);
    }

    &:active::before {
      border: 19px solid $very-dark-grey;
      background-color: $grey-black--opacity;
    }
  }

  &--attractions {
    position: relative;
    margin-bottom: 27px;
    padding-top: 11px;
    padding-bottom: 16px;
    padding-left: 78px;

    @include font(18px, 700, 26px);
    text-transform: none;

    &::before {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 56px;
      height: 56px;
      padding: 0;
      content: "";
      border-radius: 10%;
      background-color: $light;
    }

    &:hover::before,
    &:focus::before {
      background-color: $very-light-grey;
    }

    &:active::before {
      opacity: 0.3;
      background-color: $grey-black;
    }
  }
}


.feedback__field:focus + .feedback__block--impression::before {
  border-color: $very-light-grey;
}


.feedback__field:focus + .feedback__block--attractions::before {
  background-color: $very-light-grey;
}


.feedback__none {
  @media (min-width: $desktop-width) {
    display: none;
  }
}


.feedback__caption {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  @include font(18px, 700, 26px);

  @media (min-width: $tablet-width) {
    @include font(21px, 700, 26px);
  }

  &--traveller {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
      margin-left: 0;
    }
  }

  &--contact {
    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
      padding: 0 61px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 75px;
      padding: 0 61px;
    }
  }

  &--impression {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: 81px;
    }
  }

  &--attractions {
    width: 240px;
    margin-bottom: 19px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 400px;
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 44px;
    }
  }

  &--emotions {
    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
      padding: 0 75px;
    }
  }
}

.feedback__button {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  @include font(21px, 700, 26px);
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    order: 6;
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 479px;
  }
}

.feedback__required {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 6;
    margin-top: 21px;
    margin-bottom: 0;
  }
}
