.footer {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 36px;
  }
}


.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 120px;
    padding-right: 120px;
  }
}


.footer__hashtag {
  margin-bottom: 35px;

  @include font(21px, 700, 26px);
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
