.header {
  min-width: 320px;
  position: relative;
  z-index: 100;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


.header__logo-image {
  position: absolute;
  left: 0;
  right: 0;

  @media (min-width: $desktop-width) {
    width: 188px;
    height: auto;
  }

  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    top: 0;
  }
}
