.hotel {
  background-color: #ffffff;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hotel__header {
  @include font(21px, 700, 26px);
  color: $black;
}

.hotel__comment {
  @include font(14px, 400, 24px);
  color: $grey-black;
}

.hotel__header,
.hotel__comment {
  padding-left: 29px;
  padding-right: 29px;
  text-align: center;
}

.hotel__button {
  width: 280px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin: 35px auto 49px auto;

  @include font(21px, 700, 26px);
}
