.hotel {
  background-color: #ffffff;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.hotel__header {
  @include font(21px, 700, 26px);
  color: $black;
}

.hotel__comment {
  @include font(14px, 400, 24px);
  color: $grey-black;
}

.hotel__header,
.hotel__comment {

  text-align: center;
}

.hotel__button {
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 35px;
  margin-bottom: 50px;

  @include font(21px, 700, 26px);
}
