.map {
  position: relative;
}

.map__static {
  z-index: 10;
  max-height: 350px;
  min-width: 320px;
  width: 100%;
}

.map__dynamic {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  border: 0;
}
