.photo {
  margin-top: 23px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 43px;
  }
}


.photo__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}


.photo__wrapper {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}


.photo__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    background-color: $grey;

    &--color {
      background-color: $light-dark-grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}


.photo__item {
  position: relative;
  margin-top: 23px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
  }

  &:not(:first-child) {
    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -24px;
    width: 100%;
    border-bottom: 1px solid $very-light-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    position: absolute;
    content: "";
    width: 100%;
    margin-bottom: 7px;
    bottom: -24px;
    border-bottom: 1px solid $very-light-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:first-child {
    .photo__image {
      @media (min-width: $tablet-width) {
        width: 648px;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: 1200px;
      }
    }
  }

  &:nth-child(2) {
    .photo__image {
      @media (min-width: $tablet-width) {
        width: 324px;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
      }
    }
  }

  &:nth-child(3) {
    .photo__image {
      @media (min-width: $tablet-width) {
        width: 324px;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
      }
    }
  }

  &:nth-child(4) {
    .photo__image {
      @media (min-width: $tablet-width) {
        width: 324px;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
      }
    }
  }
}


.photo__caption {
  margin-bottom: 0;

  @include font(14px, 700, 24px);

  &--inner {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }

    @media (min-width: $desktop-width) {
      color: $white;
    }
  }
}


.photo__author {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: $grey-black;

  &--inner {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }

    @media (min-width: $desktop-width) {
      color: $white;
    }
  }
}


.photo__button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    margin-right: 29px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    background: none;
  }

  &--indents {
    @media (min-width: $tablet-width) {
      margin-top: 11px;
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 22px;
    }
  }
}


.photo__image-like {
  display: inline;
  margin-bottom: 0;

  &--indents {
    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 5px;
    }
  }
}


.photo__counter {
  margin-bottom: 0;
  margin-left: 11px;

  @include font(14px, 700, 24px);

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }

  &--indents {
    @media (min-width: $tablet-width) {
      margin-left: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    color: $white;
    vertical-align: bottom;
  }
}
