.presentation {
  width: 320px;
  margin-top: 0;
  margin-bottom: 99px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-bottom: 42px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 86px;
  }
}

.presentation__header {
  margin-top: 11px;
  margin-bottom: 26px;

  @include font(18px, 700, 26px);
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-bottom: 30px;

    @include font(30px, 700, 26px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.presentation__comment {
  margin-bottom: 35px;
  padding-left: 22px;
  padding-right: 22px;

  @include font(14px, 400, 24px);
  text-align: center;
  color: $grey-black;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
