.social {
  display: flex;
  flex-direction: row;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
  }
}


.social__item {
  &:not(:last-child) {
    margin-right: 6px;

    @media (min-width: $tablet-width) {
      margin-right: 8px;
    }
  }

  &--media {
    &:last-child {
      @media (min-width: $tablet-width) {
        margin-right: 9px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 10px;
      }
    }
  }
}


.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 43px;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 40px;
  }

  &:link,
  &:visited {
    background-color: $light-grey-blue;
  }

  &:hover,
  &:focus {
    background-color: $grey-blue;
  }

  &:active {
    background-color: $dusty-blue;

    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tw-icon::before {
    background-image: url("../img/icon-twitter.svg");
  }

  &--fb-icon::before {
    width: 47px;
    background-image: url("../img/icon-facebook.svg");
  }

  &--yt-icon::before {
    background-image: url("../img/icon-youtube.svg");
  }
}
