.social {
  @include list-reset;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    display: block;
    width: 48px;
    height: 42px;
    padding-top: 6px;

    &:link,
    &:visited {
      @include font(18px, 700, 40px);
      background-color: $light-grey-blue;
      fill: $white;
    }

    &:hover,
    &:focus {
      background-color: $grey-blue;
      fill: $white;
    }

    &:active {
      background-color: $dusty-blue;
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
