.video {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  img {
    display: none;
  }

  /* ! temporary ! */
  width: 320px;
  height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: 320px 201px;

  @media (min-width: $tablet-width) {
    /* ! temporary ! */
    width: 648px;
    height: 499px;
    margin-top: 73px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 648px 499px;
  }

  @media (min-width: $desktop-width) {
    /* ! temporary ! */
    width: 800px;
    height: 496px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 800px 496px;
  }
}


.video__progress-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  margin: 0 20px;

  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    margin: 0;
  }
}

.video__bar {
  height: 3px;
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 389px;
    margin-left: 93px;
  }
}

.video__marker {
  position: absolute;
  height: 10px;
  width: 10px;
  /* margin-left: 58px;*/
  left: 58px;
  border-radius: 50%;
  background-color: $white;

  @media (min-width: $tablet-width) {
    /*margin-left: 206px;*/
    left: 205px;
  }
}


.video__controls-container {
  position: absolute;
  display: flex;
  bottom: -67px;
  left: 0;
  right: 0;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $light;

  @media (min-width: $tablet-width) {
    bottom: 11px;
    width: auto;
    padding-left: 11px;
    padding-right: 17px;
    background: none;
  }

  button {
    border: none;
    background: none;
    fill: $very-dusty-blue;

    @media (min-width: $tablet-width) {
      fill: $white;
    }

    &:hover,
    &:focus {
      fill: $grey-black;

      @media (min-width: $tablet-width) {
        fill: rgba(255, 255, 255, 0.6);
      }
    }

    &:active {
      fill: $grey-black;
      opacity: 0.3;

      @media (min-width: $tablet-width) {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.video__replay {
  margin-left: 17px;
}

.video__subtitles {
  margin-left: 120px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: 17px;
  }
}

.video__fullscreen {
  margin-left: 17px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 17px;
  }
}
