.video {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-top: 73px;
  }
}


.video__image {
  width: 320px;
  height: auto;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: auto;
  }
}


.video__progress-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 45px;
  margin: 0 20px;

  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    right: 0;
    bottom: 0;
    left: 0;
    height: 92px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
}


.video__bar {
  width: 235px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 389px;
    margin-left: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
    margin-left: 93px;
  }
}


.video__marker {
  position: absolute;
  top: 17px;
  left: 58px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $white;

  @media (min-width: $tablet-width) {
    top: 41px;
    left: 205px;
  }

  @media (min-width: $desktop-width) {
    top: 40px;
    left: 205px;
  }
}


.video__controls-container {
  position: absolute;
  right: 0;
  bottom: -67px;
  left: 0;
  display: flex;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $light;

  @media (min-width: $tablet-width) {
    bottom: 11px;
    width: auto;
    padding-right: 17px;
    padding-left: 11px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }

  button {
    border: none;
    background: none;
    fill: $very-dusty-blue;

    @media (min-width: $tablet-width) {
      fill: $white;
    }

    &:hover,
    &:focus {
      fill: $grey-black;

      @media (min-width: $tablet-width) {
        fill: rgba(255, 255, 255, 0.6);
      }
    }

    &:active {
      opacity: 0.3;
      fill: $grey-black;

      @media (min-width: $tablet-width) {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
  }
}


.video__replay {
  margin-left: 17px;
}


.video__subtitles {
  margin-left: 120px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
    margin-left: auto;
  }
}


.video__fullscreen {
  margin-left: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
    margin-left: 0;
  }
}
