.video {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    /* ! temporary ! */
    width: 648px;
    height: 499px;
    margin-top: 73px;
    outline: 2px solid #6a6461;
    background: $very-dark-grey;
  }

  @media (min-width: $desktop-width) {
    /* ! temporary ! */
    width: 800px;
    height: 496px;
  }
}

.video__player {
  @media (min-width: $tablet-width) {
    /* ! temporary ! */
    display: none;
  }
}

.video__controls {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -60px;
  left: 0;
  right: 0;
  height: 66px;
  width: 280px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    /* ! temporary ! */
    display: none;
  }
}
