/* fonts */
@mixin font($size: 14px, $weight: 400, $height: 24px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

/* list */
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* media */
@mixin mobile {
  width: 320px;
  margin: 0 auto;
}
