.bg-index {
  background-size: 320px;
  background-image: url("../img/media/sedona-index-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    background-size: 768px;
    background-image: url("../img/media/sedona-index-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    background-size: 1280px;
    background-image: url("../img/media/sedona-index-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }
}

.bg-photo {
  background-size: 320px;
  background-image: url("../img/media/sedona-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    background-size: 768px;
    background-image: url("../img/media/sedona-photo-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    background-size: 1280px;
    background-image: url("../img/media/sedona-photo-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }
}

.bg-form {
  background-size: 320px;
  background-image: url("../img/media/sedona-form-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    background-size: 768px;
    background-image: url("../img/media/sedona-form-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    background-size: 1280px;
    background-image: url("../img/media/sedona-form-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.5;
  }
}
