$light-grey-blue: #81b3d2;
$grey-blue: #669ec0;
$dusty-blue: #5496bd;
$very-dusty-blue: #5c6870;
$light-grey: #eeeeee;
$light-dark-grey: #eaeaea;
$middle-light-grey: #e6e6e6;
$very-light-grey: #e5e5e5;
$very-dark-grey: #d5d5d5;
$light: #f2f2f2;
$grey-black: #333333;
$grey-black--opacity: rgba(51, 51, 51, 0.3);
$grey: #f2f2f2;
$black: #000000;
$black--opacity: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$grey-brown: #766357;
$grey-brown--opacity: rgba(118, 99, 87, 0.3);
$very-grey-brown: #604e43;
$tablet-width: 768px;
$desktop-width: 1200px;
